@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}
body {
    font-size: 1em;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}
header {
    background-color: #f6f6f6;
    height: 80px;
    padding: 0 20px;
    display: flex;
}
header a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: #9265ff;
    align-self: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    gap: 4px;
}
.container {
 /* */
}
.numpad_area {
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.input-numeric-container {
    padding: 0 1em 1em;
    margin: auto;
    position: relative;
    max-width: 375px;
    font-size: 1.2rem;
}
.number_input {
    font-family: 'Fredoka', sans-serif;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    outline: none;
    margin-bottom: 7px;
    border: 2px solid #b49af1;
    font-size: 1em;
}
.number_input:focus{
    border: 2px solid #9265ff;
}
.score_mark {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 375px;
    padding: 0.3em 1.1em;
}
.score_mark .right, .score_mark .wrong {
    display: flex;
    gap: 5px;
    vertical-align: middle;
    align-items: center;
    font-size: 1.4rem;
}
.right {
    color: #72d453;
}
.wrong {
    color: #f76b6d;
}
.table-numeric {
    width: 100%;
    border-collapse: collapse;

}

.table-numeric td {
    vertical-align: top;
    text-align: center;
    width: 33.33333333333%;
    border: 0;
}

.table-numeric button {
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1.2em 0.3em 1.2em 0.3em;
    font-size: 1em;
    border-radius: 0.7em;
    outline: none;
    user-select: none;
    font-family: 'Fredoka', sans-serif;
}

.table-numeric button:active {
    top: 2px;
    background-color: #9365ff15;
    border: 1px solid #9365ff30;
}

.key {
    background: #fff;
    border: 1px solid #d8d6d6;
    border-radius: 20px;
}

.key-del {
    background: #f17375d2;
    border: 1px solid #f06466eb;
    color: #fff;
}
.key-del:is(:active, :focus) {
    background: #fb6164 !important;
    border: 1px solid #f55658 !important;
}
.key-enter {
    background: #966cf9e0;
    border: 1px solid #8652ffe8;
    color: #fff;
}
.key-enter:is(:active, :focus){
    background: #8d5ff8 !important;
    border: 1px solid #6b2cfe !important;
}
button[disabled] {
    opacity: 0.5;
    cursor: no-drop;
}

[data-numeric="hidden"] .table-numeric {
    display: none;
}
.current_multiplication {
    padding: 1em;
    margin: 20px auto;
    width: 100%;
    max-width: 375px;
    font-size: 3.8rem;
    align-items: center;
    text-align: center;
    color: #9265ff;
}
.bar_area {
    padding: 1em;
    margin: 8px auto;
    width: 100%;
    max-width: 500px;  
}
.speed_bar {
    background-color: #9365ff34;
    width: 100%;
    height: 20px;
    border-radius: 10px;
}
.index {
    height: 100%;
    width: 20%;
    background-color: #9265ff;
    border-radius: 10px;
    display: flex;
}